.App {
  text-align: center;
}

/********************** Header ********************/
.Header {
  background-color: #ff3300;
  padding: 5% 0% 5% 0%;
  color: white;
}
.logo{
  font-size: 100px;
}
.ui.input {
  font-size: 1em;
  width: 50%;
  margin: auto;
}
input[type="text"] {
  width: 50%;
}

div#mainCard {
  background-color: #17a2b8ba;
  margin-top: 10%;
}
.img-fluid {
  max-width: 85%;
  height: auto;
}
button.btn.btn-info {
  padding: 0% 31% 0% 31%;
  font-weight: bold;
}

@media (max-width: 768px){
  .logo {
    font-size: 55px;
}
h1.display-1 {
  margin-bottom: 1%;
  font-size: 288%;
  font-weight: 500;
  margin-left: -12%;
}
img.img-fluid.w-60.mx-auto.rounded-circle {
  width: 43%;
}
.ui.input {
  font-size: 1em;
  width: 75%;
  margin: auto;
}
.ui.action.input {
  margin-right: 13%;
}

}
